---
---

@import url('https://fontlibrary.org//face/cmu-serif');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@700&family=Ovo&display=swap');
@import url('https://fontlibrary.org//face/kamillo-grotesk');
@import url('https://fontlibrary.org//face/dynalight');
@import url('https://fontlibrary.org//face/brisa-sans');
@import url('https://fontlibrary.org//face/open-baskerville');

$CS-Blue: #3F5182;
$CS-Red: #800000;
$CS-Orange: #FE8801;
$CS-DarkPurple: #6000A9;
$CS-Purple: #6C008D;
$CS-Pink: #FE01D4;

$NH-Gray: #4D4D4D;

$font-primary: 'KamilloGroteskRegular';
$font-secondary: "Ovo", serif;
$caligraphy-font: 'DynalightRegular';
$font-serious: 'OpenBaskerville0053Normal';
$font-text: 'BrisaSansRegular';

$navbar-color: $CS-Red;
$navbar-text-color: white;
$navbar-hover-color: $CS-Orange;
$background-color: $CS-Blue;
$normal-text-color: black;
$subtitle-grey: #B0B0B0;
$title-blue: #2C3059;

main h1 {
    font-family: $font-serious;
    text-align: center;
    font-size: 50px;
    color: white;
}

main p {
    font-family: $font-primary;
    font-size: 24px;
    text-align: center;
    color: white;
}

.donor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.option {
    margin: 10px;
    p {
        color: black;
    }
    
    background-color: white;
    padding: 10px 10px;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
    max-width: 800px;
    a {
        display: block;
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
    }
}