---
---

@import url('https://fontlibrary.org//face/cmu-serif');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@700&family=Ovo&display=swap');
@import url('https://fontlibrary.org//face/kamillo-grotesk');
@import url('https://fontlibrary.org//face/dynalight');
@import url('https://fontlibrary.org//face/brisa-sans');
@import url('https://fontlibrary.org//face/open-baskerville');

$CS-Blue: #363C6E;
$CS-Red: #99392D;
$CS-Orange: #FE8801;
$CS-DarkPurple: #6000A9;
$CS-Purple: #6C008D;
$CS-Pink: #FE01D4;

$font-primary: 'KamilloGroteskRegular';
$font-secondary: "Ovo", serif;
$caligraphy-font: 'DynalightRegular';
$font-serious: 'OpenBaskerville0053Normal';
$font-text: 'BrisaSansRegular';

$navbar-color: $CS-Red;
$navbar-text-color: white;
$navbar-hover-color: $CS-Orange;
$background-color: $CS-Blue;
$normal-text-color: black;
$subtitle-grey: #B0B0B0;
$title-blue: #2C3059;

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: $background-color;

    display: flex;
    flex-direction: column;
}

main {
    .centerpiece {
	text-align: center;

	h1, h2, h3 {
	    margin: 0px;
	    /*text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;*/

	}

	h1 {
	    font-size: 120px;
	    font-family: $caligraphy-font;
	    color: $CS-Purple;
	    margin-top: 20px;
	    margin-bottom: 0px
	}

	h2 {
	    font-size: 70px;
	    font-family: $caligraphy-font;
	    color: $CS-DarkPurple;
	    margin-bottom: 20px;
	}

	img {
	    border-style: solid;
	    border-color: $CS-Red;
	    border-width: 5px;
	    box-shadow: 0 5px 5px rgba(0, 0, 0,  0.2);
	}


	.socials {
	    text-align: left;
	    display: inline-block;
	    line-height: 10px;
        
	    a {
		display: block;
		padding: 10px 5px;
	        color: white;
		text-decoration: none;
		background-color: $CS-Red;
		font-family: $font-primary;
		box-shadow: 0 5px 5px rgba(0, 0, 0,  0.2);
		span {
		    vertical-align: middle;
		}
		img {
		    vertical-align: middle;
		    border-style: none;
		    box-shadow: none;
		}
	    }

	    a:hover {
		background-color: $CS-Orange;
	    }

	    margin-bottom: 380px;

	}

	background: white;
	background-image: url('/assets/images/front-page.jpg');
	background-size: cover;
	background-position: center;
    }

    .text-container {
        max-width: 900px;
        margin: 0 auto;
        background-color: white;
        padding: 20px 20px;
        border-radius: 20px;
        * {
            color: black;
        }
        font-family: $font-text;
        font-size: 18px;
	.center {
	    text-align: center;
	}
    }
}

header {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0,  0.2);
    font-family: $font-primary;

    background-color: $navbar-color;

    .left {
        flex: 0 0 auto;
        padding-left: 20px;
    }

    .right {
        flex: 1 1 auto;
        text-align: right;
        padding-right: 20px;

    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown button {
        display: inline-block;
        position: relative;
        padding: 5px 10px;
        font-size: 24px;
    }

    .dropdown button:hover {
	background-color: $CS-Orange;
    }

    .dropdown a {
        font-size: 24px;
        text-align: center;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba (0,0,0,0.2);
        padding: 0;
        background-color: $navbar-color;
        opacity: 1;
        z-index: 10;
	right: -10px;
    }

    .nav a:hover {
        background-color: $navbar-hover-color;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        display: block;
        color: black;
        padding: 10px;
        text-decoration: none;
    }

    .dropdown-content a:hover {
        background-color: $navbar-hover-color;
    }


    .logo {
        display: block;
        width: 100px;
        height: 50px;

        img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
    }

    .hamburger {
        flex: 1 1 auto;
        text-align: right;
        display: none;
        padding-right: 20px;

        z-index: 2000;
        padding-top: 5px;
    }

    .mobile-menu {
        font-family: $font-primary;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        display: flex;
        visibility: hidden;

        padding-top: 100px;

        background-color: $background-color;
        z-index: 1000;

        flex-direction: column;
        align-items: flex-end;

        transition: opacity 0.2s;

        &.visible {
           visibility: visible;
	    opacity: 1;
        }

        .nav {
	    text-align: right;
            font-size: 2em;
	    line-height: 1.6em;
	    margin-left: 40px;
	    margin-right: 20px;

	    a {
		&:active, &:focus {
		    outline: none;
		}
	    }

	    button {
		font-weight: 'normal';
	    }

            &:first-child:before, &:after {
	        content: "";
	        display: block;
                width: 80vw;
	        height: 2px;
	        background-color: white;
	    }
        }
    }

    & .nav {
        display: inline-block;
        font-size: 1.5em;
        font-family: $font-primary;
        font-weight: bold;
        padding-right: 20px;

        a {
            padding: 10px 5px;
	    color: white;
	    text-decoration: none;
	    font-weight: bold;
        }

        button {
            color: white;
	    background: none;
	    padding: 10px 5px;
            border: none;
	    text-decoration: none;
	    font-weight: bold;
        }
    }
}

.post-header {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, transparent 100%, white 100%);
  margin-bottom: -5px;
}

.post-header-image {
    max-width: 100%;
    max-height: 50vh;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    position: relative;
}

@media only screen and (max-width: 800px) {

    header {
        .left {
            padding-left: 10px;
        }

        .right {
            padding-right: 10px;
            font-size: 2vw;
        }
    }
}

@media only screen and (max-width: 800px) {
    header {
        .right {
            display: none;
        }

        .hamburger {
            display: inline-block;
        }
    }
}

footer {
    color: white;
    font-family: $font-primary;
    font-size: 0.7em;
    text-align: center;
}
