---
---

iframe {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    height: 600px;
    width: 800px;
}

main {
    img {
	max-width: 100%;
	height: auto;
    }
}
