---
layout: 'page'
title: 'Mass'
styles:
    '/css/mass.css'
scripts:
    '/js/mass.js'
---

<div class="description">
<h1>Mass</h1>
<p>Here you can find places and times for attending Mass locally. Please note that these may not
always be as listed, so be sure to check the parish website.</p>
</div>

<div class="parishes">
    {% assign id = 0 %}
    {% for parish in site.data.mass.parishes %}
    {% assign id = id | plus: 1 %}
    <div class="parish">
	<button onclick="showHide({{ id }})" class="name">{{ parish.name }}</button><br>
	<div class="parish-contents" id="parish_{{ id }}" style="display: none">
	<img class="image" src="{{ site.data.mass.image_root }}{{ parish.image }}" alt="Image of {{ parish.name}}"</img>
	<div class="details">
	    <span class="address">{{ parish.address }}</span><br><br>
	{% for mass in parish.masses %}
	    <span class="mass">{{ mass }}</span><br>
	{% endfor %}
	{% if parish.confession %}
	    <br><span class="confession">Confession: {{ parish.confession }}</span><br>
	{% endif %}
	<br><span class="website"><a href="{{ parish.url }}">Visit website</a></span>
	</div>

	</div>
    </div>
    {% endfor %}

    <iframe
	src="https://www.google.com/maps/d/u/1/embed?mid=1VWRdVCv5XXxmESPYNzMJH_AuNjHwMsQ&ehbc=2E312F"
	></iframe>
</div>
