<header>
<span class="left">
    <a class="logo" href="{{ site.base_url }}/">
	<img alt="CathSoc Logo" src=" {{ '/assets/header-logo.png' | relative_url }}">
    </a>
</span>
<span class="right">
    {% for item in site.data.menu %}
	{% if item.children %}
	    <div class="nav dropdown">
		<button>{{ item.name | capitalize }}</button>
		<div class="dropdown-content">
		    {% for child in item.children %}
			{% assign url = item.url | append: '/' | append: child.url %}
			<a href="{{ url | relative_url }}">{{ child.name }}</a>
		    {% endfor %}
		</div>
	    </div>
	{% else %}
	    <div class="nav">
		<a href="{{ item.url | relative_url }}">{{ item.name }}</a>
	    </div>
	{% endif %}
    {% endfor %}
</span>
<div id="hamburger" class="hamburger">
    <img alt="Hamburger menu" src="{{ '/assets/hamburger.svg' | relative_url }}">
</div>
<div id="hamburger-menu" class="mobile-menu">
    {% assign id = 0 %}
    {% for item in site.data.menu %}
	<div class="nav">
	    {% if item.children %}
		{% assign id = id | plus: 1 %}
		<button onclick="toggleShow({{ id }})">{{ item.name | capitalize }}</button>
		<div class="dropdown" style="display: none" id="hbdd_{{ id }}">
		    {% for child in item.children %}
			{% assign url = item.url | append: '/' | append: child.url %}
			<a href="{{ url | relative_url }}">- {{ child.name }}</a><br>
		    {% endfor %}
		</div>
	    {% else %}
		<a href="{{ item.url | relative_url }}">{{ item.name }}</a>
	    {% endif %}
	</div>
    {% endfor %}
</div>
</header>
